name: C++ Physics Engine CI

on: 
  push:
    branches: [main]
    paths:
      - 'cpp-code/**'
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    
    - name: Install CMake
      run: sudo apt-get update && sudo apt-get install -y cmake build-essential
    
    - name: Build C++ Project
      working-directory: ./cpp-code
      run: |
        mkdir -p build
        cd build
        cmake ..
        make
        
    - name: Run simulation
      working-directory: ./cpp-code/build
      run: ./quad_sim
